---
interface Props {
  icon: string;
  title: string;
  description: string;
  features: string[];
  gradient: string;
}

const { icon, title, description, features, gradient } = Astro.props;
---

<div
  class={`${gradient} p-5 lg:p-6 rounded-2xl shadow-sm hover:shadow-lg transition-transform duration-300 transform hover:-translate-y-1 border border-opacity-30 bg-white/5 backdrop-blur-sm`}
>
  <div class="flex items-start gap-4">
    <div
      class="w-16 h-16 rounded-lg flex items-center justify-center text-3xl lg:text-4xl"
    >
      {icon}
    </div>

    <div class="flex-1">
      <h3 class="text-lg lg:text-xl font-bold text-slate-900 mb-1">{title}</h3>
      <p class="text-slate-600 mb-3 text-sm lg:text-base">{description}</p>
    </div>
  </div>

  <div class="mt-3 text-sm lg:text-sm text-slate-800 font-medium">
    <ul class="space-y-2">
      {
        features.map((feature) => (
          <li class="flex items-start gap-3">
            <span class="mt-0.5 text-green-600 inline-flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 5.29a1 1 0 01.083 1.32l-7 9a1 1 0 01-1.497.083l-3.5-3.5a1 1 0 011.414-1.414l2.793 2.793 6.293-8.087a1 1 0 011.12-.195z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
            <span class="break-words hyphens-auto text-slate-700">
              {feature}
            </span>
          </li>
        ))
      }
    </ul>
  </div>
</div>
